.nav {
  max-width: 300px;
  grid-area: n;
  background-color: whitesmoke;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  height: 370px;
}
.nav div {  
  margin: 35px auto;
  position: relative;  
}
.nav a {
  display: block;
  height: 100%;
  position: relative;
  /* color: white; */ 
  text-decoration: none; 
  padding: 5px;
  text-align: center;
}
.nav div:hover {
  background-color: rgb(189, 189, 189);
  border-radius: 3px;
}

.item a .active {
  background-color: gold;
}
