body{
  background-color:#edeef0 ;
}
.app-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 20fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  max-width: 990px;
  grid-area: c;
  background-color: whitesmoke;
  border-radius: 10px;
}

.app-wrapper-content img {
  width: 990px;
  height: 400px;  
}